* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral */
body {
  font-family: Arial, sans-serif;
}

/* Container para centralizar conteúdo */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Estilos do Header */
header {
  background-color: #000; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Logotipo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

/* Navegação */
nav ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcb47; /* Cor ao passar o mouse */
}

/*-----------------------------------------------/* 

/* Configuração do Slideshow */
.slideshow {
  position: relative;
  width: 100%;
  height: 600px; /* Altura do banner */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%; /* Inicialmente fora da tela */
  width: 100%;
  height: 100%;
  transition:linear 0.3s; 
  opacity: 1;
}

.slide.active {
  left: 0; /* Imagem ativa visível */
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem sem distorção */
}

/* Controles (Botões) */
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*-----------------------------------------*/

/* Botão de Chamada para Ação */
button {
  background-color: #ffcb47; /* Cor de fundo do botão */
  color: #0889d4; /* Cor do texto */
  border: none;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
} 

button:hover {
  background-color: #ffc000; /* Cor ao passar o mouse */
}